* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 49.98%;
}

.col-12 {
    width: 100%;
}

/* Smartphones */
@media screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    .col-s-1 {
        width: 8.33%;
    }
    
    .col-s-2 {
        width: 16.66%;
    }
    
    .col-s-3 {
        width: 25%;
    }
    
    .col-s-4 {
        width: 33.33%;
    }
    
    .col-s-6 {
        width: 49.98%;
    }
    
    .col-s-12 {
        width: 100%;
    }
}
