/* GERAIS */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

/* HEADER */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
}

header img {
    width: 200px;
}

nav {
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

nav a {
    color: #191c03;
}

nav a:hover {
    font-weight: bold;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}


/* HERO */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    min-height: 100vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
    font-weight: bolder;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: lighter;
}

.hero .btn {
    background-color: #FFF;
    border-radius: 4px;
    color: #191c03;
    padding: 8px 20px;
}

.hero .btn:hover {
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
}

@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }
}


.col-12 {
    width: 100%;
}

.col-6 {
    width: 49.98%;
}

/* INFO */
.text {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
}

.text h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.text h4 {
    font-size: 1.1rem;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-container p {
    font-size: 20px;
    font-weight: bold;
}

/* STATS */
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-img {
    text-align: center;
}

.stats-icons {
    margin-top: 30px;
}

.stats-icons h3 {
    font-size: 28px;
}

.stats-icons h4 {
    display: inline-block;
    font-size: 20px;
}

.stats-icons li {
    display: block;
    padding: 30px 0;
}

.stats-icons ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-icons-btn {
    text-align: center;
}

.stats-icons a {
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #191c03;
    background-color: #FFF;
    border-radius: 4px;
    color: #191c03;
    padding: 8px 20px;
}

.stats-icons a:hover {
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
}

/* CONTACT */
.contact-form-container {
    display: flex;
    justify-content: center;
}

.contact-form-wrapper {
    width: 40vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    padding: 7px 0;
    font-weight: bold;
}

.contact-form input {
    padding: 3px 0;
}

.contact-form-btn-container {
    text-align: center;
}

.contact-form button {
    border: 1px solid #191c03;
    padding: 8px 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #191c03;
    margin: 20px 0;
    width: 7vw;
    display: inline-block;
    cursor: pointer;
}

.contact-form button:hover {
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
}

/* FOOTER */
footer {
    margin-top: 40px;
    border-top: 1px solid #000;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.location {
    margin: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location span {
    padding: 10px 0;
    font-weight: bold;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    padding: 20px 0;
}

.social-item a {
    color: #000;
}

.social-item a:hover {
    color: #000;
    font-weight: bold;
}