body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.row {
    width: 100%;
    margin-top: 300px;
}

.card {
    padding: 50px;
    background-color: royalblue;
    width: 50%;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 2px solid #999;
}

label {
    color: #FFF;
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button {
    background-color: white;
    border: 1px solid rgb(21,4, 98);
    color: rgb(21,4, 98);
    font-weight: bold;
    padding: 15px;
}

button:hover {
    cursor: pointer;
}

input:focus {
    border-color: yellow !important;
}

input:invalid, textarea:invalid {
    border-color: red;
}

input:valid, textarea:valid {
    border-color: green;
}

@media screen and (max-width: 768px) {
    .card {
        width: 75%;
        margin: 0 auto;
    }
}